@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #202020;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    height: 80px;
    margin: 0px auto;
}

.header-lista ul {
    display: flex;
    list-style: none;
}

.header-lista li {
    font-size: 15px;
    padding-right: 10px;
    color: #fff;
}

.header-lista a {
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
}

.header-lista a:hover {
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 5px;
}

.header-extensao {
    width: 100%;
    height: max-content;
    border-bottom: 2px solid #5D5D5D;
    background-color: #202020;
}

.extensao-titulo {
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0.75px;
    width: 70%;
    margin: 0px auto;
    color: #fff;
}

.extensao-paragrafo {
    text-align: center;
    letter-spacing: 0.15px;
    width: 70%;
    padding-bottom: 20px;
    padding-top: 5px;
    margin: 10px auto;
    color: #fff;
}

.container-harry-potter {
    width: 100%;
    height: max-content;
    background-color: #740001;
    border-bottom: 2px solid #5D5D5D; 
}

.potter-content {
    width: 94%;
    height: max-content;
    margin: 0px auto;
}

.potter-titulo {
    text-align: center;
    font-size: 23px;
    font-weight: 100;
    letter-spacing: 0.75px;
    width: 70%;
    padding-top: 15px;
    margin: 0px auto;
    color: #fff;
}

.potter-subtitulo {
    text-align: center;
    font-size: 21px;
    letter-spacing: 0.75px;
    width: 70%;
    padding-top: 40px;
    margin: 0px auto;
    color: #fff;
}

.span-potter {
    color: #EEBA30;
}

.potter-paragrafo {
    text-align: center;
    letter-spacing: 0.15px;
    width: 94%;
    padding-top: 5px;
    margin: 10px auto;
    color: #fff;
}

.potter-paragrafo-2 {
    padding-top: 15px;
}

.potter-imagem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 40px;
    margin: 50px auto;
    border: 3px solid #EEBA30;
    border-radius: 50px;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.623);
}

.potter-imagem-img {
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.753);
    border-radius: 5px;
}


.container-img-final {
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding-top: 100px;
    padding-bottom: 30px;
    margin: 0px auto;
}

.personagem-potter {
    padding-top: 150px;
}

.container-coringa {
    background-color: #270E42;
    width: 100%;
    height: 4000px;
}

.coringa-content {
    width: 94%;
    height: 4000px;
    margin: 0px auto;
}

.coringa-titulo {
    text-align: center;
    font-size: 23px;
    font-weight: 100;
    letter-spacing: 0.75px;
    width: 70%;
    padding-top: 15px;
    margin: 0px auto;
    color: #fff;
}

.coringa-subtitulo {
    text-align: center;
    font-size: 21px;
    letter-spacing: 0.75px;
    width: 70%;
    padding-top: 40px;
    margin: 0px auto;
    color: #fff;
}

.span-coringa {
    color: #1da11f;
}

.coringa-paragrafo {
    text-align: center;
    letter-spacing: 0.15px;
    width: 94%;
    padding-top: 5px;
    margin: 10px auto;
    color: #fff;
}

.coringa-paragrafo-2 {
    padding-top: 15px;
}


.coringa-imagem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 40px;
    margin: 50px auto;
    border: 3px solid #1da11f;
    border-radius: 10px;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.623);
}

.coringa-imagem-img {
    display: flex;
    border: 2px solid #FCFCFC;
    border-radius: 5px;
}

